*{
  margin: 0;
  padding: 0;  
}
body{
    background-color: ghostwhite;
    min-width: 320px;
}
header{
    background-image: url(img/124.jpg);
    background-size: 100% 100%;
    height: 100px;
}

    
.navigate{
    background-color: #333;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
}
nav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.icon{
    display: none;}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif
}


nav li:hover{
    background-color: #444444;
}
main{
    background-color: #EAEAEA;
    padding: 20px 10% 20px 10%;
}
footer{
    background-color: #333;
    text-align: center;
    padding: 15px 1% 15px 1%;
    color: #ffffff;
    position:static;
    top: 0;
    bottom: 20px;
    width: 100%;
    display:block;
   padding-bottom: 4px; 
}
footer article{
    color: darkgrey;
    flex-grow:1 ;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
   text-align: center;
   justify-content:space-between;  
}
a{text-decoration: none;
    display:block}
section{
    display: flex;
    margin-bottom: 30px;
}
h1{
    text-align: center;
}
p{font-size: 18px;
}
/*   section1   */
#sec1{
    padding: 0;
    justify-content:center;
}
#sec1 img{
  height: 100%;
    width:100%;
}

/*   section2   */
#sec2{
    padding: 45px;
    justify-content:space-around;
}

#sec2 article{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
width: 31%;
}
#sec3{
    padding:0px;
    justify-content:space-around;   
}
#sec3 img{
   height: 160px;
    width:100%
}

#sec4{
    padding:10px;
    justify-content:space-around;
}
#sec4 p{
   padding:1px 0 ;  
}
#sec4 article{
    width: 100%; 
}
#sec4 article img{
    float: left;
    width: 50%;
    padding: 0px 2% 2% 16px;
}
#sec5{
    padding:10px;
    justify-content:space-around;
}
#sec5 p{
  padding:1px 0 ; 
}
#sec5 article{
    width: 100%; 
}
#sec5 article iframe{
    float: right;
    width: 50%;
    padding: 0px 2% 2% 16px;
}
